/*-- ==================== Header Section ==================== --*/
.header {
    padding: 20px 0;
    transition: 0.5s;
  }

  .header.scrolled {  
    background: #ffffff;  
    box-shadow: 0px 5px 10px #797d84;
    padding: 20px 0;
    transition: 0.5s;
  }

  .header .logo-name {
    color: #26363e;
    font-family: "Tilt-Warp", sans-serif;
    font-size: 35px;
    font-weight: 800;
    text-decoration: none;
  }

  /*-- ==================== Navbar Section ==================== --*/
  /*-- ========== Large Screen Navigation ========== --*/
  .navbar {
    padding: 0;
  }

  .navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navbar a, .navbar a:focus {
    color: #26363e;
    font-size: 20px;
    font-weight: 800;
    font-family: "Tilt-Warp", sans-serif;
    display: flex;
    padding: 10px 30px;
  }

  .navbar a:hover, .navbar .current, .navbar .current:focus {
    color: #93c9f7;
    transition: 0.5s;
  }

  .navbar .navbar-button, .navbar .navbar-button:focus {
    color: #ffffff;
    background: #26363e;
    padding: 10px 25px;
    margin-left: 25px;
    border-radius: 1000px;
    text-decoration: none;
  }

  .navbar .navbar-button:hover, .navbar .navbar-button:focus:hover {
    color: #ffffff;
    background: #93c9f7;
    transition: 0.5s;
  }

  /*-- ========== Small Screen Navigation ========== --*/
  .small-navbar-toggle {
    color: #26363e;
    font-size: 35px;
    cursor: pointer;
    display: none;
  }

  .small-navbar-toggle.bi-x {
    color: #ffffff;
  }

  @media (max-width: 1200px) {
    .small-navbar-toggle {
        display: block;
    }

    .navbar ul {
        display: none;
    }
  }

  @media (min-width: 1200px) {
    .small-navbar-toggle.bi-x {
        display: block;
    }
  }

  .small-screen-navbar {
    background: #797d84;
    position: fixed;
    inset: 0;
  }

  .small-screen-navbar .small-navbar-toggle {
    position: absolute;
    font-size: 50px;
    top: 50px;
    right: 50px;
  }

  .small-screen-navbar ul {
    background-color: #ffffff;
    display: block;
    position: absolute;
    inset: 100px;
    padding: 15vh 0;
    border-radius: 25px;
  }

  .small-screen-navbar a, .small-screen-navbar a:focus {
    justify-content: center;
    font-size: 20px;
    color: #26363e;
  }

  .small-screen-navbar a:hover, .small-screen-navbar .current {
    color: #93c9f7;
  }

  .small-screen-navbar .navbar-button, .small-screen-navbar .navbar-button:focus {
    color: #ffffff;
    margin: 75px;
    padding: 10px 30px;
  }