/*-- ==================== Body Default Font ==================== --*/
body {
  font-family: "Ubuntu", sans-serif;
}

/*-- ==================== Input Boxes ==================== --*/
input#id_title {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
}

textarea#id_bio.form-control {
  height: 100px;
  resize: none;
}

/*-- ==================== Containers ==================== --*/
.container .row h1 {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow:
    3px 2px 0 #000000;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 25px;
  font-weight: 800;
  word-wrap: break-word; 
  max-width: 100%; 
  padding: 5px 0px;
  width: fit-content;
} 

@media (max-width: 768px) {
  .container .row h1 {
    font-size: 20px; 
  }
}

/*-- ==================== CK Editor Container ==================== --*/
.ck-editor__main div {
  resize: none;
  height: 100px;
}

/*-- ==================== Sections ==================== --*/
section {
  padding-top: 95px;
}

/*-- ==================== Buttons ==================== --*/

.btn, .btn:focus {
  color: #ffffff;
  background: #26363e;
  padding: 10px 20px;
  margin: 5px 0px 20px;
  display: inline-flex;
  border-radius: 1000px;
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.btn:hover, .btn:focus:hover {
  color: #ffffff;
  background: #93c9f7;
  transition: 0.5s;
}

.btn-delete, .btn-delete:focus {
  background: #dc3545;
}

.btn-delete:hover, .btn-delete:focus:hover {
  background: #b12a38;
  transition: 0.5s;
}

.small-buttons {
  display: flex;
  align-items: center;
}

.small-buttons .btn {
  padding: 5px 10px;
  font-size: 12px;
  margin-bottom: 0px;
}

.small-buttons .btn-left {
  margin-right: auto; 
}

.right-buttons {
  display: flex;
}

.right-buttons .btn {
  margin-top:0px;
  margin-left: 5px; 
}

/*-- ==================== Scrolling Collections ==================== --*/
.list-group {
  overflow-y: auto; 
}

/* ==================== Misc. ==================== */

.content {
  padding-top: 10px;
}

.h-100 {
  min-height: 100vh;
  height: 100vh;
}

/* Groups display */
.all-groups {
  height:70vh;
  overflow-y: auto;
}

/* Templates */
.template-item {
  height: 400px;
  overflow-y: auto;
}

