.todays-journal, .your-groups, .friends-list {
  height: 300px;
  position: relative; /* Set position to relative */ 
}

.todays-journal .content {
  height: calc(100% - 40px);
  overflow-y: auto; /* Enable vertical scrolling */
}

.create-journal-button, .create-journal-button:focus {
  color: #ffffff;
  background: #26363e;
  padding: 10px 20px;
  margin: 50px 0px;
  display: inline-flex;
  border-radius: 1000px;
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 800;
  text-decoration: none;
}

.create-journal-button:hover, .create-journal-button:focus:hover {
  color: #ffffff;
  background: #93c9f7;
  transition: 0.5s;
}


.content .edit-button, .content .edit-button:focus {
  color: #ffffff;
  background: #26363e;
  padding: 5px 20px;
  margin-left: 50px;
  border-radius: 1000px;
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 800;
  text-decoration: none;
  position: absolute; /* Set position to absolute */
  top: 5px; /* Adjust top position as needed */
  right: 5px; /* Adjust right position as needed */
}

.edit-button:hover, .edit-button:focus:hover {
  color: #ffffff;
  background: #93c9f7;
  transition: 0.5s;
}

.container .row h1 {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow:
    3px 2px 0 #000000;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 25px;
  font-weight: 800;
  word-wrap: break-word; /* Allows long words to be broken and wrapped onto the next line */
  max-width: 100%; /* Sets maximum width of the box to 100% of its container */
  padding-bottom: 5px;
} 

@media (max-width: 768px) {
  .container .row h1 {
    font-size: 20px; /* Adjust font size for smaller screens */
  }
}

/*-- ==================== Sections ==================== --*/
section {
    padding-top: 90px;
    height: 100vh;
  }
  