/*-- ===== Header ===== --*/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: all 0.3s;
  padding: 20px 0;
}

.header .bar {
  align-items: center;
  justify-content: space-between;
}

.header .logo-name {
  justify-content: center;
  text-decoration: none;
  color: #012970;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 25px;
  font-weight: 650;
}

.header.header-scrolled {  
  background: #fff;
  box-shadow: 0px 2px 20px #494850;
  padding: 20px 0;
}

/*-- ===== Navbar ===== --*/
.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar a, .navbar a:focus {
  color: #494850;
  padding: 5px 15px;
  font-size: 20px;
  font-weight: 650;
}

.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
  color: #70ABAF;
}


/* log in button */
.navbar .log-in-button, .navbar .log-in-button:focus {
  color: #ffffff;
  background: #494850;
  padding: 15px 40px;
  margin-left: 30px;
  border-radius: 1000px;
  text-decoration: none;
}

.navbar .log-in-button:hover, .navbar .log-in-button:focus:hover {
  color: #ffffff;
  background: #5969f3;
  opacity: 1;
}

/*-- ===== Top Section ===== --*/
.top-section {
  width: 100%;
  height: 100vh;
  background: url("") top center no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.top-section .header-text-area h1 {
  color: #165acf;
  font-size: 65px;
  font-weight: bold;
}

.top-section .header-text-area h2 {
  color: #303030;
  margin: 20px 0;
  font-size: 30px;
}

.top-section .sign-up-button {
  color: #fff;
  background: #494850;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 1000px;
  box-shadow: 0px 5px 10px #303030;
  text-decoration: none;
}

.top-section .sign-up-button span {
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.top-section .sign-up-button i {
  margin-left: 25px;
  font-size: 20px;
}

.top-section .sign-up-button i {
  transform: translateX(10px);
}
.top-section .top-section-image-area .top-section-image {
  padding-top: 125px;
  text-align: center;
  width: 60%;
}

/*-- ===== About Section ===== --*/
.about-section .content {
  background-color: #cdccf0;
  border-radius: 15px;
  padding: 40px;
}

.about-section .big-answer-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

/*-- ===== Features Section ===== --*/
.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  color: #6ca5cd;
  font-size: 25px;
  font-weight: 600;
}

.features .feature-icons .content .icon-box i {
  color: #700137;
  font-size: 50px;
  margin-left: 10px;
  
  margin-right: 20px;
}

.features .feature-icons .content .icon-box p {
  color: #848484;
  font-size: 15px;
}

/*-- ===== Footer Section ===== --*/
.footer {
  color:#494850;
  background: #d3ddf0;
}

.footer a {
  text-decoration: none;
}

.footer .footer-top .footer-info .logo {
  margin-bottom: 10px;
}

.footer .footer-top .footer-info .logo img {
  margin-right: 10px;
}

.footer .footer-top .footer-info .logo span {
  color: #012970;
  font-size: 30px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
}

.footer .footer-top .footer-info p {
  font-size: 15px;
  font-family: "Tilt-Warp", sans-serif;
  text-align: center;
  text-decoration: none;
}

.footer .footer-top h4 {
  color: #012970;
  font-size: 20px;
  font-weight: 700;
}