/*-- ==================== Sections ==================== --*/
section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-header {
    text-align: center;
    padding-bottom: 40px;
  }
  
  .section-header h2 {
    color: #26363e;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
    text-transform: uppercase;
  }
  
  .section-header p {
    color: #93c9f7;
    margin: 10px 0 0 0;
    padding: 0;
    font-size: 45px;
    font-weight: 800;
    line-height: 42px;
  }
  
  @media (max-width: 768px) {
    .section-header p {
      font-size: 35px;
      line-height: 32px;
    }
  }
  
/*-- ==================== Header Section ==================== --*/
.header {
  padding: 20px 0;
  transition: 0.5s;
}

.header.scrolled {  
  background: #ffffff;  
  box-shadow: 0px 5px 10px #797d84;
  padding: 20px 0;
  transition: 0.5s;
}

.header .logo-name {
  color: #26363e;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

/*-- ==================== Navbar Section ==================== --*/
/*-- ========== Large Screen Navigation ========== --*/
.navbar {
  padding: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a, .navbar a:focus {
  color: #26363e;
  font-size: 20px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  display: flex;
  padding: 10px 30px;
  
}

.navbar a:hover, .navbar .current, .navbar .current:focus {
  color: #93c9f7;
  transition: 0.5s;
}

.navbar .log-in-button, .navbar .log-in-button:focus {
  color: #ffffff;
  background: #26363e;
  padding: 10px 30px;
  margin-left: 50px;
  border-radius: 1000px;
  text-decoration: none;
}

.navbar .log-in-button:hover, .navbar .log-in-button:focus:hover {
  color: #ffffff;
  background: #93c9f7;
  transition: 0.5s;
}

/*-- ========== Small Screen Navigation ========== --*/
.navbar-button {
  color: #26363e;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.navbar-button.bi-x {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .navbar-button {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar-button.bi-x {
    display: block;
  }
}

.small-screen-navbar {
  background: #797d84;
  position: fixed;
  inset: 0;
}

.small-screen-navbar .navbar-button {
  position: absolute;
  font-size: 50px;
  top: 50px;
  right: 50px;
}

.small-screen-navbar ul {
  background-color: #ffffff;
  display: block;
  position: absolute;
  inset: 100px;
  padding: 15vh 0;
  border-radius: 25px;
}

.small-screen-navbar a, .small-screen-navbar a:focus {
  justify-content: center;
  font-size: 20px;
  color: #26363e;
}

.small-screen-navbar a:hover, .small-screen-navbar .current {
  color: #93c9f7;
}

.small-screen-navbar .log-in-button, .small-screen-navbar .log-in-button:focus {
  color: #ffffff;
  margin: 75px;
  padding: 10px 30px;
}

/*-- ==================== Top Section ==================== --*/
.top-section {
  width: 100%;
  height: 100vh;
  
}

.top-section h1 {
  -webkit-text-stroke: 2px black;
  color: #ffffff;
  text-shadow:
    7px 4px 0 #000000;
  font-size: 65px;
  font-weight: 800;
}

.top-section h2 {
  color: #26363e;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 700;
}

.top-section .sign-up-button {
  color: #ffffff;
  background: #26363e;
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 1000px;
  box-shadow: 0px 5px 10px #797d84;
  text-decoration: none;
}

.top-section .sign-up-button span {
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.top-section .sign-up-button i {
  margin-left: 25px;
  font-size: 20px;
}

.top-section .sign-up-button:hover {
    background: #93c9f7;
    transition: 0.5s;
}

.top-section .sign-up-button:hover i {
  transform: translateX(10px);
  transition: 0.5s;
}
.top-section .top-section-img {
  padding-top: 125px;
  text-align: center;
}

@media (max-width: 992px) {
  .top-section {
    height: auto;
    text-align: center;
    padding-top: 100px;
  }

  .top-section .top-section-img {
    text-align: center;
    margin-top: 80px;
  }

  .top-section .top-section-img img {
    width: 75%;
  }

  .top-section .sign-up-button-area {
    display: flex;
  }
}

@media (max-width: 768px) {
  .top-section {
    text-align: center;
  }

  .top-section h1 {
    font-size: 50px;
  }

  .top-section h2 {
    font-size: 25px;
  }

  .top-section .top-section-img img {
    width: 65%;
  }
}

/*-- ==================== About Section ==================== --*/
.about-section .answer {
  background-color: #c8e5fc;
  box-shadow: 0px 5px 10px #797d84;
  font-size:20px;
  text-align: center;
  border-radius: 20px;
  padding: 20px;
  margin: 0;
}

.about-section .answer .big-answer-text {
  -webkit-text-stroke: 1px black;
  color: #ffffff;
  text-shadow:
    3px 3px 0 #000000;
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 40px;
}

.about-section .answer p {
  color: #26363e;
  font-weight: 700;
}

.about-section img {
  width: 80%;
  height: auto;
}

@media (max-width: 1200px) {
  .about-section .answer {
    width: 100%;
  }
}

/*-- ==================== Features Section ==================== --*/
.features-section .feature-boxes .feature {
  display: flex;
  font-weight: 600;
}

.features-section .feature-boxes .feature h3 {
  color: #93c9f7;
  font-size: 25px;
}

.features-section .feature-boxes .feature i {
  color: #26363e;
  font-size: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.features-section .feature-boxes .feature p {
  color: #797d84;
  font-size: 15px;
}

/*-- ==================== Footer Section ==================== --*/
.footer {
  color:#ffffff;
  background: #26363e;
}

.footer .footer-logo .logo-name {
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer .footer-logo p {
  font-size: 15px;
  font-family: "Tilt-Warp", sans-serif;
  text-align: center;
  text-decoration: none;
}

.footer .contact-us-section h3 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
}

/*-- ==================== Return Button Sectiom ==================== --*/
.return-button {
    font-size: 45px;
    color: #ffffff;
    background: #797d84;
    width: 75px;
    height: 75px;
    position: fixed;
    right: 10%;
    bottom: 5%;
    border-radius: 1000px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
  }
  
  .return-button:hover {
    background: #93c9f7;
  }
  
  .return-button.current {
    visibility: visible;
    opacity: 1;
  }