/*-- ==================== Header Section ==================== --*/
.header {
  padding: 20px 0;
}

.header.header-scrolled {  
  background: #fff;
  padding: 20px 0;
}

.header .logo-name {
  color: #26363e;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

/*-- ==================== Navbar Section ==================== --*/
/*-- ========== Desktop Navigation ========== --*/
.navbar {
  padding: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar a, .navbar a:focus {
  color: #26363e;
  font-size: 20px;
  font-weight: 800;
  font-family: "Nunito", sans-serif;
  display: flex;
  padding: 10px 30px;
  
}

.navbar a:hover, .navbar .active, .navbar .active:focus {
  color: #90caf9;
}

.navbar .log-in-button, .navbar .log-in-button:focus {
  color: #ffffff;
  background: #26363e;
  padding: 10px 30px;
  margin-left: 50px;
  border-radius: 1000px;
  text-decoration: none;
}

.navbar .log-in-button:hover, .navbar .log-in-button:focus:hover {
  color: #ffffff;
  background: #93c9f7;
}

/*-- ========== Mobile Navigation ========== --*/
.mobile-nav-toggle {
  color: #26363e;
  font-size: 35px;
  cursor: pointer;
  display: none;
}

.mobile-nav-toggle.bi-x {
  color: #ffffff;
}

@media (max-width: 1200px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

@media (min-width: 1200px) {
  .mobile-nav-toggle.bi-x {
    display: block;
  }
}

.navbar-mobile {
  background: #797d84;
  position: fixed;
  inset: 0;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  font-size: 50px;
  top: 50px;
  right: 50px;
}

.navbar-mobile ul {
  background-color: #ffffff;
  display: block;
  position: absolute;
  inset: 100px;
  padding: 15vh 0;
  border-radius: 25px;
}

.navbar-mobile a, .navbar-mobile a:focus {
  justify-content: center;
  font-size: 20px;
  color: #26363e;
}

.navbar-mobile a:hover, .navbar-mobile .active {
  color: #93c9f7;
}

.navbar-mobile .log-in-button, .navbar-mobile .log-in-button:focus {
  color: #ffffff;
  margin: 75px;
  padding: 10px 30px;
}


/*-- ==================== Sections ==================== --*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  color: #4154f1;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.section-header p {
  color: #012970;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*-- ==================== Top Section ==================== --*/
.top-section {
  width: 100%;
  height: 100vh;
  background: url("") top center no-repeat;
  background-attachment: fixed;
}

.top-section h1 {
  color: #165acf;
  font-size: 65px;
  font-weight: bold;
}

.top-section h2 {
  color: #303030;
  margin: 20px 0;
  font-size: 30px;
}

.top-section .sign-up-button {
  color: #fff;
  background: #494850;
  margin-top: 25px;
  padding: 15px 30px;
  border-radius: 1000px;
  box-shadow: 0px 5px 10px #303030;
  text-decoration: none;
}

.top-section .sign-up-button span {
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.top-section .sign-up-button i {
  margin-left: 25px;
  font-size: 20px;
}

.top-section .sign-up-button:hover i {
  transform: translateX(10px);
}
.top-section .top-section-img {
  padding-top: 125px;
  text-align: center;
}

@media (max-width: 992px) {
  .top-section {
    height: auto;
    text-align: center;
    padding-top: 100px;
  }

  .top-section .top-section-img {
    text-align: center;
    margin-top: 80px;
  }

  .top-section .top-section-img img {
    width: 75%;
  }

  .top-section .sign-up-button-area {
    display: flex;
  }
}

@media (max-width: 768px) {
  .top-section {
    text-align: center;
  }

  .top-section h1 {
    font-size: 50px;
  }

  .top-section h2 {
    font-size: 25px;
  }

  .top-section .top-section-img img {
    width: 65%;
  }
}

/*-- ==================== About Section ==================== --*/
.about-section .answer {
  background-color: #cdccf0;
  border-radius: 50px;
  padding: 0 20px;
  margin: 30px 0;
}

.about-section .answer .big-answer-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.about-section img {
  width: 70%;
  height: auto;
}

/*-- ==================== Features Section ==================== --*/
.features-section .feature-boxes .feature {
  display: flex;
}

.features-section .feature-boxes .feature h3 {
  color: #6ca5cd;
  font-size: 25px;
  font-weight: 600;
}

.features-section .feature-boxes .feature i {
  color: #700137;
  font-size: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.features-section .feature-boxes .feature p {
  color: #848484;
  font-size: 15px;
}

/*-- ==================== Footer Section ==================== --*/
.footer {
  color:#494850;
  background: #d3ddf0;
}

.footer .footer-logo .logo-name {
  color: #012970;
  font-size: 30px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer .footer-logo p {
  font-size: 15px;
  font-family: "Tilt-Warp", sans-serif;
  text-align: center;
  text-decoration: none;
}

.footer .contact-us-section h3 {
  color: #012970;
  font-size: 20px;
  font-weight: 700;
}