/*-- ==================== Header Section ==================== --*/
.header {
  padding: 20px 0;
}

.header.scroll {  
  background: #fff;
  padding: 20px 0;
}

.header .logo-name {
  color: #263238;
  font-family: "Tilt-Warp", sans-serif;
  font-size: 30px;
  font-weight: 800;
  text-decoration: none;
}

/*-- ==================== Sections ==================== --*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
}

.section-header h2 {
  color: #4154f1;
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.section-header p {
  color: #012970;
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .section-header p {
    font-size: 28px;
    line-height: 32px;
  }
}

/*-- ==================== Top Section ==================== --*/
.top-section {
  width: 100%;
  height: 100vh;
  background: url("") top center no-repeat;
  background-attachment: fixed;
}
.top-section .main-text {
  padding-left: 100px;
}
.top-section h1 {
  color: #165acf;
  font-size: 65px;
  font-weight: bold;
}

.top-section h2 {
  color: #303030;
  margin: 20px 0;
  font-size: 30px;
}

.top-section .sign-up-button {
  color: #fff;
  background: #494850;
  margin-top: 30px;
  padding: 15px 30px;
  border-radius: 1000px;
  box-shadow: 0px 5px 10px #303030;
  text-decoration: none;
}

.top-section .sign-up-button span {
  font-family: "Tilt-Warp", sans-serif;
  font-weight: 600;
  font-size: 20px;
}

.top-section .sign-up-button i {
  margin-left: 25px;
  font-size: 20px;
}

.top-section .sign-up-button:hover i {
  transform: translateX(10px);
}
.top-section .top-section-img {
  padding-top: 125px;
  text-align: center;
}

@media (max-width: 992px) {
  .top-section {
    height: auto;
    text-align: center;
    padding-top: 100px;
  }

  .top-section .top-section-img {
    text-align: center;
    margin-top: 80px;
  }

  .top-section .top-section-img img {
    width: 75%;
  }
}

@media (max-width: 768px) {
  .top-section {
    text-align: center;
  }

  .top-section h1 {
    font-size: 50px;
  }

  .top-section h2 {
    font-size: 25px;
  }

  .top-section .top-section-img img {
    width: 65%;
  }
}

/*-- ==================== About Section ==================== --*/
.about-section .answer {
  background-color: #cdccf0;
  border-radius: 50px;
  padding: 0 20px;
  margin: 30px 0;
}

.about-section .answer .big-answer-text {
  color: #ffffff;
  font-size: 30px;
  font-weight: 700;
}

.about-section img {
  width: 70%;
  height: auto;
}

/*-- ==================== Features Section ==================== --*/
.features-section .feature-boxes .feature {
  display: flex;
}

.features-section .feature-boxes .feature h3 {
  color: #6ca5cd;
  font-size: 25px;
  font-weight: 600;
}

.features-section .feature-boxes .feature i {
  color: #700137;
  font-size: 50px;
  margin-left: 10px;
  margin-right: 20px;
}

.features-section .feature-boxes .feature p {
  color: #848484;
  font-size: 15px;
}

/*-- ==================== Footer Section ==================== --*/
.footer {
  color:#494850;
  background: #d3ddf0;
}

.footer .footer-logo .logo-name {
  color: #012970;
  font-size: 30px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer .footer-logo p {
  font-size: 15px;
  font-family: "Tilt-Warp", sans-serif;
  text-align: center;
  text-decoration: none;
}

.footer .contact-us-section h3 {
  color: #012970;
  font-size: 20px;
  font-weight: 700;
}