/*-- ===== Features Section ===== --*/
.features .feature-icons .content .icon-box {
  display: flex;
}

.features .feature-icons .content .icon-box h4 {
  color: #6ca5cd;
  font-size: 25px;
  font-weight: 600;
}

.features .feature-icons .content .icon-box i {
  color: #700137;
  font-size: 50px;
  margin-left: 10px;
  
  margin-right: 20px;
}

.features .feature-icons .content .icon-box p {
  color: #848484;
  font-size: 15px;
}

/*-- ===== Footer Section ===== --*/
.footer {
  color:#494850;
  background: #d3ddf0;
}

.footer .footer-logo .logo-name {
  color: #012970;
  font-size: 30px;
  font-weight: 700;
  font-family: "Nunito", sans-serif;
  margin-bottom: 10px;
  text-decoration: none;
}

.footer .footer-logo p {
  font-size: 15px;
  font-family: "Tilt-Warp", sans-serif;
  text-align: center;
  text-decoration: none;
}

.footer .contact-us-section h3 {
  color: #012970;
  font-size: 20px;
  font-weight: 700;
}