/* ========== Username ========== */
.username {
    -webkit-text-stroke: 1px black;
    color: #ffffff;
    text-shadow:
      3px 2px 0 #000000;
    font-family: "Tilt-Warp", sans-serif;
    font-size: 50px;
    font-weight: 800;
    word-wrap: break-word; 
    max-width: 100%; 
    padding: 5px 0px;
    width: fit-content;
}

@media (max-width: 768px) {
    .username {
        font-size: 30px;
    }
}

/* ========== Circle Badge ========== */
.circle-badge {
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Makes the div circular */
}

/* ========== Points List ========== */
.points-list {
    height: 350px; 
    overflow-y: auto;
}
.points {
    font-size: 18px;
    background-color: #9e9e9e79;
    max-width: 80%;
    overflow-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
}
