* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    
}

.site-content {
    position: relative;
    z-index: -2;
    background: #D8D8F6;
    height: 100vh;
}

nav {
    width: 100%;
    padding: 0em;
    display: flex;
}

a {
    text-decoration: none;
    color: #000;
}

nav > div {
    flex: 1;
}

.links {
    display: flex;
    justify-content: flex-end;
    gap: 5em;
}


.header {
    display: flex;
    padding: 1em;
}

.header h1 {
    flex: 1;
    position: relative;
    font-size: 10vw;
    text-transform: uppercase;
    line-height: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
}


footer {
    position: auto;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 2em;
}

footer > div {
    flex: 1;
}

.footer-copy p {
    width: 50%;
}

.footer-nav {
    display: flex;
    gap: 2em;
    justify-content: flex-end;
}

.img {
    width: 225px;
    height: 150px;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0% 100%);
}

.img:nth-child(1) {
    background: url(./nav-2.avif) no-repeat 50% 50%;
    background-size: cover;
}

.img:nth-child(2) {
    background: url(./nav-1.avif) no-repeat 50% 50%;
    background-size: cover;
}

@media(max-width: 900px) {
    footer {
        flex-direction: column;
        gap: 2em;
    }

    .footer-copy p {
        width: 100%;
    }

    .footer-nav {
        width: 100%;
        justify-content: space-between;
    }
}

.container {
    z-index: 3;
}