{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All Journal Entries</h1>
        {% if journal_existence %}
          <p>
            {% for journal in journal_existence %}
            <br/>
            <a href="{% url 'delete_journal' journalID=journal.id%}" class="btn btn-sm btn-outline-danger">
              Delete Journal Entry
            </a>
            <br/>
            Journal Title: {{ journal.journal_title }}
            <br/>
            <a href="{% url 'change_journal_title' journalID=journal.id%}" class="btn btn-sm btn-secondary">
                Edit Title
            </a>
            <br/>
            Journal Description: {{ journal.journal_description }}
            <br/>
            <a href="{% url 'change_journal_description' journalID=journal.id%}" class="btn btn-sm btn-secondary">
                Edit Description
            </a>
            <br/>
            Journal Entry: {{journal.journal_bio}}
            <br/>
            <a href="{% url 'change_journal_bio' journalID=journal.id%}" class="btn btn-sm btn-secondary">
                Edit Entry
            </a>
            <br/>
            Date Created: {{ journal.entry_date }}
            <hr/>
            {% endfor %}
            <br/>
            
          </p>
        {% else %}
          <p>There are no journal entries available.</p>
          <p>
            <a href="{% url 'create_journal_view' %}" class="btn btn-lg btn-secondary">
              Create a Journal
            </a>
          </p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}