{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All Journal Entries</h1>
        {% if journal_existence %}
          <p>
            {% for journal in journal_existence %}
            <br/>
            <a href="{% url 'change_journal_info' journalID=journal.id%}" class="btn btn-lg btn-secondary">
              Edit Journal
            </a>
            <a href="{% url 'journal_detail' journalID=journal.id %}" class="btn btn-lg btn-secondary">
              View Journal
            </a>
            <br/>
            <br/>
            Journal Title: {{ journal.journal_title }}
            <br/>
            <br/>
            Journal Description: {{ journal.journal_description }}
            <br/>
            <br/>
            
            Journal Entry:  
            <hr/>
            {{journal.journal_bio|safe}}
            <hr/>
            <br/>
            <br/>
            Date Created: {{ journal.entry_date }}
            owner = {{ journal.journal_owner }}
            <hr/>
            {% endfor %}
            <br/>
            
          </p>
        {% else %}
          <p>There are no journal entries available.</p>
          <p>
            <a href="{% url 'create_journal_view' %}" class="btn btn-lg btn-secondary">
              Create a Journal
            </a>
          </p>
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}