{% extends 'base_content.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Edit</h1>
      <form action="{% url 'change_journal_info' journalID=journal.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }}
        {% for field in form %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}" class="text-dark">{{ field.label }}:</label>
          {{ field }}
        </div>
        {% endfor %}
        <br/>
        <br/>
        <button type="submit" class="btn btn-primary">Save Changes</button>
        <br/>
        <br/>

      </form>
    </div>
  </div>
</div>
{% endblock %}






