{% load static %}
<!DOCTYPE html> 
<html lang="en">
  <head>
    <title>Main Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">

    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap">

  </head>

  <body>
    <!-- ==================== Navbar ==================== -->
    <div class="container">
      <header class="header fixed-top" id="header">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
    
          <a class="logo-name d-flex align-items-center" href="{% url 'dashboard' %}">
            Compact Journals
          </a>
          {% if user.is_authenticated %}
          <nav class="navbar" id="navbar">
            <ul>
              <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
              <li><a class="nav-link" href="{% url 'view_friends' %}">Friends</a></li>
              <li><a class = "nav-link" href="{% url 'groups' %}">Groups</a></li>
              <li><a class="log-out-button" href="{% url 'log_out' %}">Log out</a></li>
            </ul>
            <i class="navbar-button bi bi-list"></i>
          </nav>
          {% endif %}
    
        </div>
      </header>
    </div>
    <!--card layout start-->
    
    <section class="container">
      <div class="row">
        <div class="card-01"></div>
        <div class="card-01"></div>
        <div class="card-01"></div>
      </div>
      <div class="row">
        <div class="card-02"></div>
        <div class="card-02"></div>
      </div>
      <div class="row">
        <div class="card-03"></div>
      </div>
    </section>
    <!--card layout end-->


    <!--<section>
    <div class="container">
      <div class="row justify-content-between">
        <div class="welcome-header col-xl-7 d-flex align-items-center px-4">
          <h1>Welcome to your dashboard {{ user.username }}</h1>
        </div>
        
        <div class="content-small col-xl-4 d-flex align-items-center justify-content-center px-4">
          Content #1
          <a href="{% url 'calendar' year=current_year month=current_month%}" class="btn btn-lg btn-secondary">
            Calendar
          </a>
          <a href="{% url 'my_journals' userID=user.id%}" class="btn btn-lg btn-secondary">
            View All Journals (List View)
          </a>
        </div>
      </div>

      <div class="content-large">
        <h1>Today's Journal:</h1>

        {% if todays_journal is None %}
        <br/>
        You have not created a journal today!
        Press the button below to add your journal for the day
          <p>
            <a href="{% url 'create_journal'%}" class="btn btn-lg btn-secondary">
              +
            </a>
        {% else %}
        <p>
          {% for journal in todays_journal%}
          <h2>{{ journal.journal_title }}</h2>
          Summary: {{ journal.journal_description }}
          <br/>
          Journal: {{ journal.journal_bio|safe }}
          <br/>
          Todays Mood: {{ journal.journal_mood }}
          <br/>
          Created on: {{ journal.entry_date }}
          <br/>
          <a href="{% url 'change_journal_info' journalID=journal.id%}" class="btn btn-lg btn-secondary">
            Edit
          </a>
          {% endfor %}



        </p>
        {% endif %}
        
      </div>

      <div class="content-large">
        <h1>Your Groups:</h1>

        <br>
        {% if not groups %}
          Get some friends
        {% endif %}
        {% if groups %}
          <div class="btn-group-vertical container-fluid" role="group">
            {% for group in groups %}
              <a role="button" href="#" class="btn btn-info content-large">{{ group.name }}</a>
            {% endfor %}
          </div>
        {% endif %}
      </div>

      <div class="content-large">
        <h1>Your Friends:</h1>
          {% if user.friends.all %}
              {% for friend in user.friends.all %}
                  <li>{{ friend.username }}</li>
              {% endfor %}
          {% else %}
              You currently have no Friends, <br>
              View requests to add some you lonely guy
              <br>
          {% endif %}

        </style>
        <a href="{% url 'view_friends'%}">View Friends</a>
        <a class="bottom" href="{% url 'view_friend_requests' %}">View Requests</a></li>
      </div>

    </div>
    </section>-->
  
  </body>
</html>  


