{% extends 'base_content.html' %}
{% block content %}
<section class="container">
  <div class="row">
    <h1>Delete group</h1>
    <p> Are you sure you would like to delete your group?</p>
    <form method="post" action="{% url 'delete_group' group_id=group_id %}">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Delete group" class="btn btn-md btn-primary ">
    </form>
    <a href="{% url 'group_dashboard' group_id=group_id%}">Back to group dashboard</a>

  </div>
</section>
{% endblock %}