{% extends 'base_content.html' %}
{% block content %}
<section class="container">
    <div class="row">
        <div class="col-12">
            <h1>Edit Group</h1>
            <form action="{% url 'edit_group' group_id=group_id%}" method="post">
                {% csrf_token %}

                <label for="name">Group Name:</label>
                <input type="text" id="name" name="name" required>
                <br>
                <input type="submit" value="Edit Group" class="btn btn-success">
            </form>
        </div>
    </div>
</section>
{% endblock %}