{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Your Friends:</h1>
        {% if user.friends.all %}
              {% for friend in user.friends.all %}
                  <li>{{ friend.username }}</li>
              {% endfor %}
          {% else %}
              You currently have no Friends
              
              
              <br>

          {% endif %}
      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
  </div>
</div>
{% endblock %}