{% extends 'base_content.html' %}
<!-- HTML page describing sent and recieved team invites-->
{% block content %}
  <section class="container">
    <div class="row">
      <div class="col-12">


      <h2>Add Friend:</h2>
      <form method="post" action="{% url 'send_request' user.id %}">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Send Friend Request</button>
      </form>

      
    </div>
  </section>
{% endblock %}