{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Your Friends:</h1>
        {% if user.friends.all %}
              {% for friend in user.friends.all %}
                  <li>{{ friend.username }}</li>
              {% endfor %}
          {% else %}
              You currently have no Friends
          {% endif %}
      <h2>Add Friend:</h2>
      <form method="post" action="{% url 'send_request' user.id %}">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Send Friend Request</button>
      </form>
      <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
    </div>
  </div>
</div>
{% endblock %}