{% extends 'base_content.html' %}
<!-- HTML page describing sent and recieved team invites-->
{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Pending friend requests:</h1>
        {% if requests %}
          <ul>
            {% for request in requests %}
              <li>
                {{request}}
                {% if request.status == 'pending' %}
                  <a href="{% url 'accept_friend_request' friend_request_id=request.id %}" class="btn btn-primary btn-sm">Accept</a>
                  <a href="{% url 'reject_friend_request' friend_request_id=request.id %}" class="btn btn-primary btn-sm">Reject</a>
                {% elif request.status == 'accepted' %}
                  <span class="text-success">Accepted</span>
                  <a href="{% url 'delete_sent_request' friend_request_id=request.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% elif request.status == 'rejected' %}
                  <span class="text-danger">Rejected</span>
                  <a href="{% url 'delete_sent_request' friend_request_id=request.id %}" class="btn btn-danger btn-sm">Delete</a>
                {% endif %}
                
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No pending friend requests.</p>
        {% endif %}

        <h2>Sent requests</h2>
        <h3>Pending</h3>
        {% if sent_pending_invitations %}
          <ul>
            {% for request in sent_pending_invitations %}
              <li>
                {{request}}
                <span class="badge badge-warning text-dark">Pending</span>
                <a href="{% url 'delete_sent_request' friend_request_id=request.id %}" class="btn btn-danger btn-sm">Delete</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No pending sent friend requests.</p>
        {% endif %}

        <h3>Accepted</h3>
        {% if sent_accepted_invitations %}
          <ul>
            {% for request in sent_accepted_invitations %}
              <li>
                {{request}}
                <span class="text-success">Accepted</span>
                <a href="{% url 'delete_sent_request' friend_request_id=request.id %}" class="btn btn-danger btn-sm">Delete</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No accepted sent friend requests.</p>
        {% endif %}

        <h3>Rejected</h3>
        {% if sent_rejected_invitations %}
          <ul>
            {% for request in sent_rejected_invitations %}
              <li>
                {{request}}
                <span class="text-danger">Rejected</span>
                <a href="{% url 'delete_sent_request' friend_request_id=request.id %}" class="btn btn-danger btn-sm">Delete</a>
              </li>
            {% endfor %}
          </ul>
        {% else %}
          <p>No rejected sent friend requests.</p>
        {% endif %}
      <h2>Add Friend:</h2>
      <form method="post" action="{% url 'send_request' user.id %}">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}
        <button type="submit" class="btn btn-primary">Send Friend Request</button>
      </form>
      <br/> <br/> <br/>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
      </div>
    </div>
  </div>
{% endblock %}