{% extends 'base_content.html' %}
{% block content %}
{% load static %}

<!-- Static CSS Files -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
<link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all">

<!-- ==================== Main Dashboard Section ==================== -->
<section class="container d-flex flex-column h-100">

  <div class="first-row row pb-4 px-4 gy-4">
    <div class="col-xl-12 d-flex flex-column justify-content-center">
      <div class="welcome-message p-2 border bg-light ">

        <div class="small-buttons position-relative">
          <a class="btn btn-left" href="{% url 'dashboard' %}">
            <i class="bi bi-arrow-left me-2"></i>
            <span>Back</span>
          </a>
          {% if is_owner %}
          <div class="right-buttons">
            <a class="btn" href="{% url 'send_group_request' group_id=group.group_id%}">Invite Member</a>
            <a class="btn" href="{% url 'edit_group' group_id=group.group_id %}">Edit Group</a>
            <a class="btn btn-delete" href="{% url 'delete_group' group_id=group.group_id %}">Delete Group</a>
          </div>
          {% endif %}
        </div>

        <div class="d-flex flex-column justify-content-center align-items-center text-center">
          <h1>Group Dashboard: {{group.name}}</h1>
          <p> {{ group.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="second-row row px-4 gy-4 pb-4 flex-fill">
    <div class="col-xl-5 d-flex flex-column">
      <div class="todays-journal p-2 border bg-light flex-grow-1">
        <h1>Members:</h1>
        <div class="content list-group py-3">
          {% if members %}
          {% for member in members %}
          <div class="list-group-item rounded py-3 mb-2 d-flex justify-content-between align-items-center">
            {{ member.username }}
            <div class="small-buttons position-relative">
              <div class="right-buttons">
                {% if user.username != member.username %}
                {% if is_owner %}
                <a class="btn btn-delete"
                  href="{% url 'remove_player_from_group' group_id=group.group_id player_id=member.id %}">Kick
                  Member</a>
                {% endif %}
                {% else %}
                {% if members|length > 1 %}
                <a class="btn btn-delete" href="{% url 'leave_group' group_id=group.group_id %}">Leave Group</a>
                {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}
          {% endif %}
          {% if not members %}
          <div class="list-group-item">There are no members.</div>
          {% endif %}
        </div>

      </div>
    </div>



    <div class="col-xl-7 d-flex flex-column">
      <div class="your-groups p-2 border bg-light flex-grow-1 d-flex flex-column">

        <div class="small-buttons position-relative">
          {% if is_owner %}
          <div class="right-buttons ms-auto">
            <a role="button" class="btn" href="{% url 'create_group_journal' group_id=group.group_id %}">Create Journal</a>
          </div>
          {% endif %}
        </div>

        <div class="d-flex justify-content-center">
          <h1>All Group Entries</h1>
        </div>

        {% if journals %}
        <div class="d-flex justify-content-center">
          <a class="btn" href="{% url 'view_group_journals' group_id=group.group_id %}">View All Group Entries</a>
        </div>

        <ul class="list-group mt-0 flex-grow-1">
          {% for journal in journals %}
            <li class="list-group-item rounded border mt-2 flex-grow-1">
              <h2><a href="{% url 'edit_group_journal' group_id=group.group_id journal_id=journal.id %}">{{ journal.title }}</a></h2>
              <p><b>Summary:</b> {{ journal.summary }}</p>
              <p><b>Entry Date:</b> {{ journal.entry_date }}</p>
              <p><b>Last Edited By:</b> {{ journal.last_edited_by }}</p>
            </li>
          {% endfor %}
          {% endif %}
          {% if not journals %}
          <div class="list-group-item d-flex flex-column justify-content-center align-items-center py-5">
            <p>Your group has no entries at the moment.</p>
            <br>
            <p>Your group owner should make one!</p>
          </div>
          {% endif %}
        </ul>


          
      </div>
    </div>
  </div>


</section>

{% endblock %}