
{% extends 'base_content.html' %}
{% block content %}
{% load static %}

<link href="{% static 'custom.css' %}" rel="stylesheet" type="text/css">

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Your groups</h1>
            <div class="group-list">
                {% for group in groups %}
                <button class="btn btn-info">
                    {{ group.name }}
                </button>
                {% endfor %}
            </div>
            <a role="button" href="{% url 'create_group' %}" class="btn btn-success">Create Group +</a>
        </div>
    </div>
</div>
{% endblock %}