{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Compact Jounals</title>

  <!-- ===== Fonts ===== -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap" rel="stylesheet">
  
  <!-- ===== Bootstrap ===== -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">

  <!-- ===== Static CSS File ===== -->
  <link rel="stylesheet" href="{% static 'css/home.css' %}">

</head>

<body>
  <!-- ======= Header + Navbar Section ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="" alt="">
        <span>Compact Journals</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about-section">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>
          <li><a class="getstarted scrollto" href="{% url 'log_in' %}">Log in</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>

    </div>
  </header>

  <!-- ======= Top Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1>Compact.</h1>
          <h2>Track your progress.</h2>
          <div>
            <div class="text-center text-lg-start">
              <a href="{% url 'sign_up' %}" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Sign up</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 hero-img">
          <img src="{% static 'img/blog-post-bro.png' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section>

  <!-- ===== About Section ===== -->
  <section id="about-section" class="about-section">

    <div class="container">
      <header class="section-header">
        <h2>About</h2>
        <p>What is Compact Journals?</p>
      </header>
      <div class="row gx-0">

        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <div class="content">
            <h2 class="big-answer-text">Compact Journals is a web-based journalling application created using the Python Django framework.</h2>
            <p>
              This web application was built by 8 students from King's College London as part of their 
              large group software engineering project for the module 5CCS2SEG. This group project took 
              place during the second semester of academic year 2023-24. 
            </p>
          </div>
        </div>

        <div class="col-lg-6 d-flex align-items-center">
          <img src="{% static 'img/programming-bro.png' %}" class="img-fluid" alt="">
        </div>

      </div>
    </div>

  </section>

  <!-- ===== Features Section ===== -->
  <section id="features" class="features">

    <div class="container">

      <header class="section-header">
        <h2>Features</h2>
        <p>What can you do with Compact Journals?</p>
      </header>

      <!-- Feature Icons -->
      <div class="row feature-icons">
        
        <div class="row">

          <div class="col-xl-4 text-center">
            <img src="{% static 'img/shared-goals-bro.png' %}" class="img-fluid p-4" alt="">
          </div>

          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">

              <div class="col-md-6 icon-box">
                <i class="bi bi-graph-up"></i>
                <div>
                  <h4>Track your progress</h4>
                  <p>Keep an eye on how you're doing each day.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box">
                <i class="bi bi-trophy"></i>
                <div>
                  <h4>Earn badges</h4>
                  <p>Get rewarded with badges for writing in your journal every day</p>
                </div>
              </div>

              <div class="col-md-6 icon-box">
                <i class="bi bi-pen"></i>
                <div>
                  <h4>Write journals</h4>
                  <p>Record your thoughts and experiences regularly.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box">
                <i class="bi bi-emoji-smile"></i>
                <div>
                  <h4>Track your mood </h4>
                  <p>Keep tabs on how you're feeling over the month.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box">
                <i class="bi bi-calendar4-week"></i>
                <div>
                  <h4>Check previous journal entries</h4>
                  <p>Take a peek at what you've written in the past.</p>
                </div>
              </div>

              <div class="col-md-6 icon-box">
                <i class="bi bi-people"></i>
                <div>
                  <h4>Collaborate on group journals</h4>
                  <p>Work together on shared journal entries with friends.</p>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div><!-- End Feature Icons -->

    </div>

  </section>

  <!-- ===== Footer Section ===== -->
  <footer id="footer" class="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4 ">
          <div class="col-lg-6 col-md-6 footer-info text-center text-sm-start justify-content-center">
            <a href="{% url 'home' %}" class="logo d-flex text-center align-items-center justify-content-center">
              <img src="assets/img/logo.png" alt="">
              <span>Compact Journals</span>
            </a>
            <p>Track your progress.</p>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact text-center text-sm-center">

            <h4>Contact Us</h4>
            <p>
              30 Aldwych <br>
              London, WC2B 4BG <br>
              United Kingdom <br>
              <br>
              <strong>Phone:</strong> +44 0000 000000<br>
              <strong>Email:</strong> help@ccw.com<br>
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </footer>

</body>

</html>