{% extends 'base_content.html' %}
{% block content %}
<section class="container">
  <div class="row">
    <div class="col-12">
      {% if is_logged_in %}
        <h1>My Journals :</h1>
      {% else %}
        <h1> {{user.username}}'s Public Journals :</h1>
      {%endif%}
      {% if journals %}
        <ul class="list-group mt-3">
            {% for journal in journals %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                      <div>
                        <h2>{{ journal.title }}</h2>
                        <p>{{ journal.summary }}</p>
                        <p>Entry Date: {{ journal.entry_date }}</p>
                        <p>Number of entries: {{journal.entries.count}}</p>
                        <p>
                        {% if is_logged_in  %}
                            {% if journal.private %}
                            <p><b>Private Journal</b></p>
                            {% else %}
                            <p><b>Public Journal</b></p>
                            {% endif %}
                            <a href="{% url 'delete_journal' journal_id=journal.id%}" class="btn btn-sm btn-outline-danger">
                              Delete Journal
                            </a>
                            <a href="{% url 'edit_journal' journal_id=journal.id%}" class="btn btn-sm btn-outline-danger">
                              Edit Journal
                            </a>
                            <a href="{% url 'journal_dashboard' journal_id=journal.id %}" class="btn btn-sm btn-secondary">
                              View Journal
                            </a>
                          {% else %}
                            <a href="{% url 'journal_entries' user_id=user.id journal_id=journal.id %}" class="btn btn-sm btn-secondary">
                              View Journal
                            </a>

                          {% endif %}
                            </a>
                        </p>
                      </div>
                    </div>
                </li>
            {%endfor%}
        {% else %}
          {% if is_logged_in  %}
            <p>You have no journals</p>
          {% else %}
            <p> {{user.username}} has no public journals<p>
          {%endif%}
        {% endif %}
        <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Back to dashboard</a>
    </div>
  </div>
</section>
{% endblock %}