{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>All Journal Entries</h1>
      {% include 'partials/filter_partial.html' with filter_form=filter_form %}
      {% if show_alert %}
        {% include 'partials/invalid_filter_partial.html'%}
      {% endif %}
        {% if myJournals %}
        <ul class="list-group mt-3">
            {% for journal in myJournals %}
                <li class="list-group-item">
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <h5>Title: {{ journal.journal_title }}</h5>
                            <p>Summary: {{ journal.journal_description }}</p>

                            <p>Journal: {{journal.journal_bio|safe}}</p>

                            <p>Mood: {{journal.journal_mood}}</p>

                            <p>Entry Date: {{ journal.entry_date }}</p>
                        </div>
                    </div>
                </li>
                {%endfor%}
        {% else %}
        <br/>
          <p>No journals :)</p>
        {% endif %}
        <a href="{% url 'dashboard' %}" class="btn btn-primary mt-3">Back to dashboard</a>
    </div>
  </div>
</div>
{% endblock %}