{% extends 'base_content.html' %}
{% block content %}
<section class="container">
  <div class="row py-4 px-4 justify-content-center">
    
    <div class="col-md-6 row border bg-light justify-content-center align-items-center rounded pt-4 position-relative">
      <a class="back-button bi bi-arrow-left text-decoration-none" href="{% url 'edit_profile' %}"> Back </a>
      
      <h1>Change Password</h1>
      <form action="{% url 'password' %}" method="post">
        {% csrf_token %}
        {% include 'partials/bootstrap_form.html' with form=form %}

        <div class="text-center">
        <input type="submit" value="Change Password" class="btn">
        </div>
      </form>

    </div>

  </div>
</section>
{% endblock %}