{% extends 'base_content.html' %}
{% block content %}
<section class="container">
  <div class="row">
    {% if my_profile %}
    <a class="btn" href="{% url 'profile' %}">Edit Profile</a>
    <a class="btn" href="{% url 'password' %}">Change Password</a>
    {% endif %}
    <div class="col-12">
      <h1>{{ user.username }}'s Profile</h1>
        <br>
        <a href="{{ user.gravatar_profile_url }}">
          <img src="{{ user.gravatar }}" alt="profile-picture">
      </a>
        <p>Name: {{ user.full_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Bio: {{ user.bio }}</p>
        <p>Location: {{ user.location }}</p>
        <p>Nationality: <img src="https://flagsapi.com/{{ user.nationality }}/flat/32.png" alt="{{ user.nationality }}"></p>    
        <p>Join Date: {{ user.date_joined }}</p>
        <br>
        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
  </div>
</section>

<style>
  .circle-badge {
  width: 100px;
  height: 100px;
  border-radius: 50%; /* Makes the div circular */
}

</style>
{% endblock %}