{% extends 'base_content.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>{{ user.first_name }}'s Profile</h1>
        <br>
        <a href="{{ user.gravatar_profile_url }}">
          <img src="{{ user.gravatar }}" alt="profile-picture">
      </a>
        <p>Name: {{ user.full_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Bio: {{ user.bio }}</p>
        <p>Location: {{ user.location }}</p>
        <p>Nationality: <img src="https://flagsapi.com/{{ user.nationality }}/flat/32.png" alt="{{ user.nationality }}"></p>    
        <p>Join Date: {{ user.date_joined }}</p>
    </div>
  </div>
</div>
{% endblock %}