{% extends 'base_content.html' %}
{% block content %}
<section class="container">
  <div class="row">
    <a class="btn" href="{% url 'profile' %}">Edit Profile</a>
    <a class="btn" href="{% url 'password' %}">Change Password</a>
    <div class="col-12">
      <h1>{{ user.first_name }}'s Profile</h1>
        <br>
        <a href="{{ user.gravatar_profile_url }}">
          <img src="{{ user.gravatar }}" alt="profile-picture">
      </a>
        <p>Name: {{ user.full_name }}</p>
        <p>Username: {{ user.username }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Date of Birth: {{ user.dob }}</p>
        <p>Bio: {{ user.bio }}</p>
        <p>Location: {{ user.location }}</p>
        <p>Nationality: <img src="https://flagsapi.com/{{ user.nationality }}/flat/32.png" alt="{{ user.nationality }}"></p>    
        <p>Join Date: {{ user.date_joined }}</p>
        <br>

        <!-- level stuff goes here -->
        <h2>Level Information</h2>
        <p>Current Level: {{ user.level.current_level }}</p>
        <p>Current Points: {{ total_points }}</p>
        <p>Points to Next Level: {{ points_to_next_level }}</p>
        <p>Points Needed: {{ points_needed }}</p>

        <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back</a>
    </div>
  </div>
</section>
{% endblock %}