{% extends 'base_content.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'django_ckeditor_5/dist/styles.css' %}" type="text/css" media="all">

<section class="container">
    <div class="row justify-content-center">
        <div class="col-xl-8">

            <div class="card rounded">
                <div class="card-header">
                    <div class="small-buttons position-relative">
                        <a class="btn btn-left"
                            href="{% url 'journal_entries' user_id=entry.owner.id journal_id=entry.journal.id %}">
                            <i class="bi bi-arrow-left me-2"></i>
                            <span>Back</span>
                        </a>

                        <div class="right-buttons">
                            <a class="btn" href="{% url 'export_entry' entry_id=entry.id %}">Export As PDF</a>
                            <a class="btn btn-delete" href="{% url 'delete_entry' entry_id=entry.id %}">Delete Entry</a>
                        </div>
                    </div>

                    <div class="d-flex justify-content-center text-center">
                        <h1>{{ entry.title }}</h1>
                    </div>
                </div>

                <div class="card-body">
                    <p><b>Summary:</b> {{ entry.summary }}</p>
                    <div class="ck ck-content">
                        <hr>
                        {{ entry.content|safe}}
                    </div>
                </div>

                <div class="card-footer d-flex justify-content-between">
                    <p><b>Mood:</b> {{entry.mood}}</p>
                    <p><b>Entry Date:</b> {{ entry.entry_date }}</p>
                </div>
            </div>

        </div>
    </div>
</section>

{%endblock%}