{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header class="header fixed-top z-1" id="header">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <a class="logo-name d-flex align-items-center" href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'home' %}{% endif %}">
          Compact Journals
      </a>

      {% if user.is_authenticated %}
        {% include 'partials/notification_panel.html' %}
      {% endif %}

      <nav class="navbar" id="navbar">
          <ul>
              {% if user.is_authenticated %}
                  {% include 'partials/authenticated_links.html' %}
              {% else %}
                  {% include 'partials/unauthenticated_links.html' %}
              {% endif %}
          </ul>
          <i class="small-navbar-toggle bi bi-list"></i>
      </nav>
    <nav class="navbar" id="navbar">


      <i class="small-navbar-toggle bi bi-list"></i>
    </nav>

  </div>
</header>

<script src="{% static 'js/navbar.js' %}"></script>