{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<header class="header fixed-top" id="header">
  <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

  <a class="logo-name d-flex align-items-center" href="{% url 'dashboard' %}">
      Compact Journals
  </a>
  {% if user.is_authenticated %}
  <nav class="navbar" id="navbar">
      <ul>
      <li><a class="nav-link" href="{% url 'profile' %}">Profile</a></li>
      <li><a class="nav-link" href="{% url 'view_friends' %}">Friends</a></li>
      <li><a class="nav-link" href="{% url 'groups' %}">Groups</a></li>
      <li><a class="log-in-button" href="{% url 'log_out' %}">Log out</a></li>
      </ul>
      <i class="navbar-button bi bi-list"></i>
  </nav>
  {% endif %}

  </div>
</header>

<script src="{% static 'js/navbar.js' %}"></script>